$fontSans: "Helvetica Neue", Helvetica, Arial, sans-serif
$fontSansLight: Times
$fontMonospace: "Consolas", Liberation Mono, Menlo, Courier, monospace

$alpha: #666
$beta: #222
$gama: #aaa
$delta: #4b0082
$epsilon: #ededed
$newdelta: #6633ff
$rose: #f7cac9
$serenity: #92a8d1
$violet: #4b26bd
$linkcolor: $violet
$linkhover: $rose
$socialhover: $rose


$mobile: "only screen and (max-width: 400px)"
$tablet: "only screen and (min-width: 400px) and (max-width: 1050px)"
$above: "only screen and (min-width: 780px)"
$below: "only screen and (max-width: 780px)"
